/* Signup.module.css */

.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    background-color: #ffe479;
}

.authImage {
    flex: 1;
   
}

.authForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    max-width: 100%; 
    margin: 0vw 0vw 0vw 0vw; 
    overflow-x: hidden;
}

.authTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3vw;
}

.inputField {
    width: 40vw;
    margin: 1vw 0vw 1vw 6vw;
    padding: 0.5vw;
}

.submitButton {
    width: 20vw;
    padding: 1vw;
    background-color: #fd431e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1vw 0vw 0vw 16vw;

}
.submitButton:hover{
    background-color: #e62600;
}

.switchAuth {
    margin-top: 2vw; 
    text-align: center;
}

.switchLink {
    color: #fd431e;
    text-decoration: none;
}

.switchLink:hover {
    text-decoration: underline;
}