@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.entire{
    margin-top: 25vh;
    background-color: rgb(255, 255, 74);
    overflow: auto; 
    position:fixed;
    width: 70vh; 
    margin-left: 90vh;
    margin-top:75vh !important; 
    box-shadow: 10vh 1vh 10vh 1vh rgb(62, 144, 0);
}

.main{
    background-color: rgba(255, 255, 255, 0.934);
    backdrop-filter: blur(10px);  
    border-radius: 0.5vh;  
    padding: 20px;  
    z-index: 1000; 
    text-align: left;  
    /* width: 70vh; 
    margin-left: 90vh; */
    top:8vh !important;  
    /* margin-bottom: auto; */
    max-height: 60vh; 
    overflow: auto;
    position: fixed;
    margin-left: 90vh;
    width: 70vh; 
    box-shadow: 1vh 1vh 1vh 1vh rgba(36, 0, 30, 0.442);  
}

.listHeader{
    text-align: center !important;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    /* font-family: "Cinzel", serif !important; */
    font-family: "Noto Sans", sans-serif;
    color: green;
}
.closeButton{
    background-color: rgba(0, 128, 128, 0);
    border: none;
    cursor: pointer;
    font-size: 3vh;
    /* color: blue; */
}
.closeButton:hover{
    color: rgb(255, 34, 0);
}



/* create ki css */
.addbtn{
    background-color: rgba(24, 0, 0, 0.857);
    padding: 1vh;
    width: 8vh;
    margin-left: 3vh;
    border-radius: 1vh;  
    color:  rgb(255, 255, 255);
    font-weight: bold;
    border: 0.2vh solid rgb(43, 0, 22);
    cursor: pointer;
}
.addtext{
    margin-top: 1vh;
    border-radius: 1vh;  
    border:0vh;
    border-bottom: 0.1vh solid;
    padding: 1vh;
    background-color: rgb(234, 255, 229);
    width: 30vh;
    margin-bottom: 2vh;
}


/* House ki css */
.donebtn{
    border-radius: 100vh;
    /* padding: 1vh; */
    border: none;
}
.delbtn{
    padding: 1vh;
    background-color: rgb(201, 0, 0);
    cursor: pointer;
}