.recepie-name-sj{
    text-align: right;
    margin-right: 6rem;
    margin-top: 4.55rem;
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    font-weight: 320;
}
.non-title{
    /* border: 4px solid white; */
    margin-left: 4rem;
    margin-top: -2.5rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 390;
}
.checked label {
    text-decoration: line-through;
  }
  
.title-ing-sj, .recipe-section{
    /* color:turquoise; */
    font-size: 2rem;
    font-weight: 400;
}
.container-addi-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1vh; 
    background-color: transparent;
    width: fit-content;
    margin-top: 6.5rem;
    margin-bottom: 9rem;
  }
.addi-info {
    border: 1px dashed #6fbf4b; 
    text-align: center; 
    padding: 0px 15px 0px 15px ;
    background-color: #6fbf4b;
  }
  
.addi-info h6{
    margin-bottom: 5px;}
  
.addi-info p {
    margin-top: 5px;}
  
.fire{
    color: rgb(255, 166, 0);
    /* -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; */
  }
.add-todo-ingr{
    /* padding: 1rem; */
    border: none;
}
.enter-new-ing{
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.471);
    width:11rem;
    padding: 1;
    border: none;
    border-bottom: 1px solid brown;
    margin-right: 0.3rem;
}
.enter-new-ing:focus{
    background-color: rgb(255, 227, 227);
    border: none;
    
}
.button-plus{
    background-color: transparent;
    border: none;
    color: rgb(119, 18, 18);
    font-size: 1.2rem;
}
.button-plus:hover{
    font-size: 1.3rem;
}
.cheesecake-recipe{
    background-color: rgba(240, 248, 255);
    font-size: 1rem;
    font-weight: 300;
    margin-right: 4rem;
    padding: 2rem;
}
.cheesecake-recipe:hover{
    background-color: rgba(240, 248, 255, 0.363);
}
/* .scrolled {
    background-color: rgba(240, 248, 255, 0.363);
} */