.container {
    height: 110vh;
    text-align: center;
    background-image: url('./assets/images/background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.headercontent {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30vh;
    padding-bottom: 50vh;
    color: white;
    opacity: 0.7;
}

.gridcontainer {
    background-color: #6fbf4b;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 50px;

}

.griditem {
    background: #e0e0e0;
    text-align: center;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    
}

.griditem:hover{
    background-color: #137b18; 
}
.griditem img {
    border: 2px solid black;
    width: 50vh;
    height: 50vh;
}

.button {
    margin-top: 20px;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.button:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(1, 1, 1) 0px 7px 29px 0px;
}

.button:active {
    letter-spacing: 3px;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(2, 2, 2) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}