#main{
    width: 100vw;
    background-color: #ffffff;
    height: 90vh;
    top: 10vh;
    position: fixed;
    display: flex;
    flex-direction: row;
}

:root {
    --chat_area: 96%;
    --main_height: 89vh
}

/*! side bar */
.main1{
    flex-grow: 1;
    order: 1;
    height: var(--main_height);
    display: flex;
    flex-direction: column;
    padding: 0.5vh 15px;
    background-color: #63A683;
    gap: 2%;
}

#head{
    width: 90%;
    text-align: center;
    margin-top: 1vh;
}

#profiles{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Profile names in sidebar */
.profile{
    display: flex;
    justify-content: center; /* Center the names */
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2); /* Optional: Light background for name */
    transition: ease-in-out 0.5s;
}

.profile:hover{
    cursor: pointer;
    scale: 1.1;
    transition: ease-in-out 0.2s;
}

.profile_name{
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}

/*! chat area */
.main2{
    width: 78%;
    height: var(--main_height);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5vh 0;
    background-image: linear-gradient(rgba(99, 166, 136, 0.941), rgba(67, 131, 135, 0.934)), url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.main2 .chat{
    width: var(--chat_area);
    height: 80vh;
    flex-direction: column;
    margin-bottom: 10px;
    overflow-y: auto;
    max-height: calc(var(--main_height) - 50px);
}

.profile2{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

#text{
    display: flex;
    align-items: left;
    flex-direction: column;
    height: auto;
}

.photo {
    margin-top: 10px;
    max-width: 70vh;
    max-height: 30vh;
    height: auto;
    border-radius: 10px;
}

.profile2 .deleteIcon {
    height: 4.5vh;
    object-fit: cover;
    margin: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile2:hover .deleteIcon {
    cursor: pointer;
    opacity: 1;
}


/*! bottom part  */
#bottom {
    border-radius: 20px;
    width: var(--chat_area);
    min-height: 4.5vh;

    background-color: #A6D59E;
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden; /* Hide scroll bar */
    width: 60vw;
}


.bottom_icon{
    height: 4.5vh;
    object-fit: cover;
    margin: 10px;
}

.bottom_icon:hover {
    cursor: pointer;
}

#enter_text {
    width: 99%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow-y: hidden; /* Disable vertical scroll */
    
    /* Center text vertically */
    line-height: 1.5; /* Make the text look vertically spaced */
    font-size: 16px; /* Adjust font size if necessary */
}


.right{
    display: flex;
}