.mainbox{
    padding-top: 10vh;
    /* background-color: blue; */
    padding-left: 20vw;
    padding-right: 20vw;
}
.text{
    /* background-color: #137b18; */
    padding-bottom: 3vh;
    text-align: center;
    
}
.textarea{
    padding: 1vh;
    width: 60vw;
    background-color: #eaffe0;
    border-radius: 1vh;
}
.generate{
    background-color: red;
}
.createbutton{
    background-color: rgb(0, 0, 0);
    padding: 0.8vh;
    font-size: 2vh;
    color: white;
    /* margin-left: 85vh; */
    border-radius: 100vh;
    
}
button{
    cursor: pointer;
}
.dropbox{
    background-color: rgb(255, 255, 255);
    padding: 0.4vh;
    font-size: 2.2vh;
    margin-right: 1.5vh;
}
.preview{
    /* background-color: #137b18; */
    margin-top: 3vh;
}
.saved{
    /* background-color: mediumseagreen; */
    margin-top: 4vh;
}
.recepiebutton{
    background-color: black;
    border-radius: 10vh;
    color: white;
    padding: 1vh;
}
.savedbutton{
    background-color: #141414;
    padding: 1vh;
    border-color: transparent;
    border-radius: 10vh;
    color: white;
    margin-right: 2vw;
}
.savedbutton:hover{
    background-color: #137b18;
}